<div class="footer">
	<div class="theme-btn">
		<a href="?action=session_destroy">
			Dark Theme
		</a>

		<a href="?action=theme">
			Light Theme
		</a>
	</div>
	<div>
		<p>
			&#169; Maria Bjuvsjo
		</p>
	</div>
	<div
		class="social">
		<!-- Loads from FontAwesome (themes/shared/css/font-awesome.min.css) -->
		{% for social in pages["_meta"].meta.social %}
			<a href="{{ social.url }}" title="{{ social.title }}" role="button">
				<i class="{{ social.icon }}" aria-hidden="true"></i>
				<span class="sr-only">{{ social.title }}</span>
			</a>
		{% endfor %}
	</div>

</div>
<div class="cursor"></div>

<script src="{{ theme_url }}/../shared//js/modernizr-3.3.1-custom.min.js" type="text/javascript"></script>
<script src="{{ theme_url }}/../shared//js/utils.js" type="text/javascript"></script>
<script src="{{ theme_url }}/../shared//js/responsive-navbar.js" type="text/javascript"></script>
<script src="{{ theme_url }}/../shared//js/main.js" type="text/javascript"></script>
